---
layout: default
title: Home
---

Welcome to yet another website on the www. This is mainly a personal site for sharing stuff with myself and others. Feel free to browse around or, perhaps better, find something more interesting to do.

<hr>

<h3 style="color:#800000;">Tech posts:</h3>

<p></p>

<div class="posts">
  {% for post in site.categories.tech %}
    <h5 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h5>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

  {% endfor %}
</div>


<h3 style="color:#800000;">Other posts:</h3>

<p></p>

<div class="posts">
  {% for post in site.categories.other %}
    <h5 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h5>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

  {% endfor %}
</div>
