body {
  color: #93979e;
  background-color: #26282d;
}

a, h1, h2, h3, h4, h5, h6 {
  color: #eeeeee;
}

strong {
  color: #eeeeee;
}

hr {
  border-top-color: #888888;
  border-bottom: 0;
}

.masthead-title {
  color: #eeeeee;
}
.masthead-title small {
  color: #c0c0c0;
}

.page-title,
.post-title,
.post-title a {
  color: #eeeeee;
}

.post-date {
  color: #9a9a9a;
}
