/* This is a template for publishing html in paged format.
 * Use with Prince for generating a pdf */

/* @import 'https://fonts.googleapis.com/css?family=Roboto|Crimson+Text'; */


@page {
    size: A5;
    margin-top: 20mm;
    margin-bottom: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
    font-family: "Crimson Text";
    font-size: 10pt;
    @bottom {
        content: counter(page) " / " counter(pages);
        vertical-align: top;
    }
}

body {
    font-family: "Crimson Text";
    font-style: normal;         /* normal or italic */
    font-weight: normal;        /* normal or bold */
    font-variant: normal;       /* normal or small-caps */
    font-size: 13pt;
    text-align: left;
}

h1, h2, h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    page-break-after: avoid;
    margin-top: 2em;
    margin-bottom: 1em;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

p {
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0.7em;
}

.newpage {
    page-break-before: always;
}
